@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Raleway:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Baloo 2', cursive;
}

p{
    font-family: 'Raleway', sans-serif;
}

ol, ul {
	list-style: none;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.image{
    width: 100%;
    border-radius: 10px;
}

.buttonAnimation:hover{
    transform: translateY(1px);
    transition: 0.1s;
}

.button{
    background-color: #ff6666;
    border: none;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    color: #e9e9e9;
}
    .button:hover{
        background-color: #ff3838;
        cursor: pointer;
    }

.asideWhatsapp{
    width: 3rem;
    display: inline-block;
    position: fixed;
    bottom: 15px;
    right: 25px;
}

    .asideWhatsapp:hover{
        transform: scale(1.2);
        transition: 1s;
    }

.whatsappIcon{
    width: 100%;
}

/* HEADER */

header{
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
}

.headerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
}

.logoImage{
    width: 1.3rem;
    margin-right: .3rem;
}

.headerLogoTitle{
    font-size: 2rem;
    color: #1e566f;
    font-weight: 500;
}

.conteinerNavButtons{
    margin-bottom: 10px;
}

.navButtons{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: space-evenly;
}

.navButtons li{
    margin: 5px 5px 10px 5px;
}

.navButtons li a{
    border-bottom: #2598ce 1px solid;
    padding: 5px;
}

.navButtons li a:hover{
    color:#ff6666;
    border-bottom: #ff6666 1px solid;
    transition: 0.3s;
}

/* FOOTER */

.footer{
    background-color: #1e566f;
    height: 35rem;
}

.footerContent{
    display: flex;
    height: 32rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.footer div h5{
    color: #ffffff;
    font-size: 1.5rem;
}

.footerNavigationList li{
    padding: 10px;
    
}

.footerNavigationList li a{
    font-size: 1.1rem;
    padding: 10px;
    color: #cacaca;
}

    .footerNavigationList li a:hover{
        color:#ff6666;
        transition: 0.3s;
    }

.footerLogoTitle{
    font-size: 2rem;
    color: #ffffff;
    font-weight: 500;
}

    .footerLogoTitle:hover{
        color: #ff6666;
        transition: 0.3s;
    }

.instagramIcon{
    margin-top: 10px;
    width: 3.2rem;
}

.footerAuthor{
    width: 100%;
    padding-top: 15px;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    text-align: center;
    font-weight: 100;
}

/* INDEX */

.indexHero{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indexHero img{
    height: 87vh;
    object-fit: cover;
    object-position: center;
    filter: blur(4px);
    padding: 5px 0px;
}

.indexHero h1{
    width: 97%;
    color: white;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    background-color: #3636368e;
    border-radius: 30px;
}

.carrusel{
    display: flex;
    width: 100%;
    height: 15rem;
    justify-content: center;
    align-items: center;
    border-top: #323232 1px solid;
    border-bottom: #323232 1px solid;
    margin-bottom: 30px;
    margin-top: 30px;
}

.carrusel h5{
    font-size: 3rem;
}

.conteinerModalidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15rem;
    background-color: #ff6666;
    margin-bottom: 30px;
}

.conteinerModalidad h3{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    padding-bottom: 10px;
    border-bottom: #323232 1px solid;
}

.conteinerModalidad p{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    padding-left: 5px;
}

.conteinerModalidad div{
    display: flex;
    align-items: center;
}

.conteinerModalidad div div{
    width: 6.5rem;
    padding-right: 5px;
}

.conteinerPreguntasFrecuentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.conteinerPreguntasFrecuentes h3{
    font-size: 1.6rem;
}

.preguntasFrecuentes{
    width: 90vw;
}

.preguntasFrecuentes div p{
    font-size: 1.2rem;
}

.preguntasFrecuentes div{
    border: 1px #323232 solid;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

/* CONOCEME */

.conocemeSection{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1.2fr; 
    grid-template-rows: auto auto auto auto; 
    gap: 0px 0px; 
    grid-template-areas: 
    "conocemeTitle"
    "conocemeImage"
    "conocemeParagraph"
    "conocemeTitleImage"; 
}

.conocemeTitle{
    grid-area: conocemeTitle;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.conocemeTitle h2{
    font-size: 1.7rem;
}

.conocemeImage{
    grid-area: conocemeImage;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.conocemeImage img{
    width: 18.5rem;
}

.conocemeParagraph{
    grid-area: conocemeParagraph;
    text-align: center;
    padding: 2rem;
}

.conocemeTitleImage{
    grid-area: conocemeTitleImage;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.conocemeTitleImage img{
    width: 18.5rem;
}

/* PLANES */

.titlePlanes{
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    font-size: 1.6rem;
}

.conteinerPlanes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 3% 1rem;
}

.imagesPlanes{
    width: 17rem;
}

.buttonPlanes{
    margin-top: 15px;
    width: 6rem;
    height: 2rem;
}

.conteinerComoFunciona{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.titleComoFunciona{
    font-size: 2rem;
    text-align: center;
    margin: 3rem 0;
}

.comoFuncionaPasos{
    background-color: #e9e9e9;
    border: 1px #fe5657 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    padding: 15px;
    margin: 3rem 0rem;
    border-radius: 15px;
}

.comoFuncionaNumero{
    background-color: #fe5657;
    padding: 15px 33px;
    border-radius: 70px;
    position: absolute;
    margin: -55px;
}

.comoFuncionaNumero p{
    font-size: 3rem;
}

.comoFuncionaPasos p{
    text-align: center;
}

.comoFuncionaPasos h4{
    margin-top: 30px;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.conteinerEmpezamos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttonEscribime{
    font-size: 1.2rem;
    padding: 10px 30px;
    margin-bottom: 50px;
}

/* ARTICULOS */

.conteinerArticles{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px #ff4343 solid;
    border-radius: 15px;
    padding: 3%;
    margin: 1rem 1rem;
    background-color: #f0f0f0;;
}

.article h3{
    font-size: 2rem;
    margin-bottom: 20px;
}

.article p{
    width: 17rem;
    text-align: center;
    margin: 2vh 0;
}

.articleImage{
    width: 15rem;
}

.buttonArticle{
    padding: 0.5rem 1rem;
}

/* CONTACTO */

.formContacto{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.formContacto div h2{
    font-size: 1.8rem;
    margin: 0.55vh 0;
}

.formField{
    width: 80%;
    font-size: 1rem;
    height: 2rem;
    margin: 10px;
    border: 1px #fe5657 solid;
    border-radius: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.formFieldText{
    width: 80%;
    font-size: 1rem;
    height: 7rem;
    margin: 10px;
    border: 1px #fe5657 solid;
    border-radius: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    resize: none;
}

.buttonContacto{
    width: 7.5rem;
    height: 2rem;
    font-size: 1.1rem;
    margin: 5px;
}

/* IPADS - TABLETS > 480PX  */

@media (min-width: 480px) {

    .asideWhatsapp{
        width: 3.3rem;
    }
    
    /* HEADER */

    .logoImage{
        width: 1.3rem;
    }

    .headerLogoTitle{
        font-size: 2.3rem;
    }

    /* FOOTER */

    .footer div h5{
        font-size: 1.8rem;
    }

    .footerNavigationList li a{
        font-size: 1.3rem;
    }

    /* INDEX */

    .conteinerModalidad h3{
        font-size: 1.9rem;
    }

    .conteinerModalidad p{
        font-size: 1.9rem;
    }

    .conteinerPreguntasFrecuentes h3{
        font-size: 1.9rem;
    }

    .preguntasFrecuentes div p{
        font-size: 1.5rem;
    }

    /* CONOCEME */
    
    .conocemeTitle h2{
        font-size: 2.4rem;
    }
    
    .conocemeImage img{
        width: 20rem;
    }
    
    .conocemeParagraph p{
        font-size: 1.3rem;
    }
    
    .conocemeTitleImage img{
        width: 23rem;
    }

    /* PLANES */
    
    .imagesPlanes{
        width: 22rem;
    }
    
    .buttonPlanes{
        width: 6.5rem;
        height: 2.3rem;
    }
    
    
    .titleComoFunciona{
        font-size: 2rem;
    }
    
    .comoFuncionaPasos{
        width: 20rem;
        height: 20rem;
        margin: 3rem 1rem;
    }
    
    .comoFuncionaNumero p{
        font-size: 3rem;
    }
    
    .comoFuncionaPasos h4{
        font-size: 1.6rem;
    }

    .conteinerComoFunciona{
        flex-flow: wrap;
    }
    

    /* ARTICULOS */

    .article{
        padding: 3%;
    }
    
    .article h3{
        font-size: 2.2rem;
        margin-bottom: 20px;
    }
    
    .article p{
        width: 17rem;
        font-size: 1.1rem;
        margin: 2vh 0;
    }
    
    .articleImage{
        width: 18rem;
    }
    
    .buttonArticle{
        padding: 0.5rem 1rem;
    }

    /* CONTACTO */

    .formContacto div h2{
        font-size: 2.1rem;
    }

    .formField{
        font-size: 1.3rem;
    }

    .formFieldText{
        font-size: 1.3rem;
    }

}


/* SMALL SCREENS */

@media (min-width: 1024px) {

    .asideWhatsapp{
        width: 3.8rem;
    }

    /* HEADER */

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logoImage{
        width: 1.6rem;
        margin-left: 10px;
    }

    .headerLogoTitle{
        font-size: 2.9rem;
    }

    .conteinerNavButtons{
        width: 35rem;
        margin-bottom: 0px;
    }

    .navButtons{
        display: flex;
        flex-wrap: nowrap;
        margin-top: 0rem;
        justify-content: space-evenly;
    }

    .navButtons li{
        padding: 10px;
        margin: 0px;
    }

    /* FOOTER */

    .footer{
        height: 25rem;
    }

    .footerContent{
        height: 22rem;
        flex-direction: row;
    }

    .footer div h5{
        font-size: 1.8rem;
    }

    .footerNavigationList li a{
        font-size: 1rem;
    }

    /* INDEX */

    .indexHero h1{
        font-size: 4.5rem;
        width: 85%;
    }

    .indexHero img{
        height: 91vh;
    }

    .carrusel{
        height: 30rem;
    }

    .conteinerModalidad{
        height: 20rem;
    }

    .conteinerModalidad h3{
        font-size: 1.9rem;
    }

    .conteinerModalidad p{
        font-size: 1.9rem;
    }

    .conteinerPreguntasFrecuentes h3{
        font-size: 1.9rem;
    }

    .preguntasFrecuentes{
        width: 60%;
    }

    .preguntasFrecuentes div p{
        font-size: 1.5rem;
    }

    /* CONOCEME */

    .conocemeSection {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 0.7fr 1.3fr;
        grid-template-rows: auto auto auto;
        gap: 0px 0px;
        align-items: center;
        grid-template-areas:
        "conocemeImage conocemeTitle"
        "conocemeImage conocemeParagraph"
        ". conocemeTitleImage";
    }
    
    .conocemeTitle{
        margin: 50px 0px 20px 0px;
    }
    .conocemeTitle h2{
        font-size: 3rem;
    }
    
    .conocemeImage{
        align-items: center;
    }
    
    .conocemeImage img{
        width: 22rem;
        margin-top: 50px;
    }
    
    .conocemeTitleImage{
        margin-bottom: 50px;
    }
    
    .conocemeTitleImage img{
        width: 25.5rem;
    }

    /* PLANES */

    .titlePlanes{
        margin: 10px;
        font-size: 2rem;
    }
    
    .imagesPlanes{
        width: 25rem;
    }
    
    .buttonPlanes{
        width: 7rem;
        height: 2.6rem;
        font-size: 1rem;
    }
    
    .conteinerComoFunciona{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .titleComoFunciona{
        font-size: 2.5rem;
    }
    
    .comoFuncionaPasos{
        padding: 15px;
        margin: 2rem;
        height: 20rem;
    }
    
    .comoFuncionaNumero{
        background-color: #fe5657;
        padding: 15px 33px;
        border-radius: 70px;
        position: absolute;
        margin: -55px;
    }
    
    .comoFuncionaPasos h4{
        font-size: 1.8rem;
    }
    
    .buttonEscribime{
        font-size: 1.2rem;
        padding: 10px 30px;
        margin-bottom: 50px;
    }

    /* ARTICULOS */

    .buttonArticle{
        padding: 0.5rem 1.3rem;
        font-size: 1rem;
    }

    /* CONTACO */
    
    .formContacto div h2{
        font-size: 2.3rem;
        margin: 0.55vh 0;
    }
    
    .formField{
        width: 50%;
        font-size: 1.3rem;
        height: 3rem;
        margin: 10px;
    }
    
    .formFieldText{
        width: 50%;
        font-size: 1.3rem;
        height: 7rem;
        margin: 10px;
    }
    
    .buttonContacto{
        width: 9rem;
        height: 2.5rem;
        font-size: 1.3rem;
        margin: 5px 5px 19px 5px;
    }

}


